.signUp

  = link_to users_select_path do
    %i.fas.fa-arrow-left

  .signUp__box
    .signUp__box__title
      Create Account
    = form_with model: @user, url: user_registration_path , local: true do |f|
      .single
        = f.text_field :nickname, placeholder: 'type your nickname'
      .single
        = display_validation_errors("email","email")
        = f.email_field :email, placeholder: ' type your email'
      - unless @sns_auth
        .single
          = display_validation_errors("password","password")
          = f.password_field :password, autocomplete: "off",value: "Passw0rd"
        .single
          = f.password_field :password_confirmation, autocomplete: "off",value: "Passw0rd"
        .button
          = f.submit "NEXT"