.signUp
  .signUp__box
    .signUp__box__title
      Create Account
    = form_with model: @user, url: user_registration_path , local: true do |f|
      .email
        = display_validation_errors("email","email")
        = f.email_field :email, placeholder: ' type your email'
      - unless @sns_auth
        .password
          = display_validation_errors("password","password")
          = f.password_field :password, autocomplete: "off",value: "Passw0rd"
        .password
          = f.password_field :password_confirmation, autocomplete: "off",value: "Passw0rd"
        .button
          = f.submit "Registar Address"