.registarAddress
  .registarAddress__box

    .registarAddress__box--title
      Registar Address

    = form_with model: @address, url: users_create_address_path ,id: 'new_address', class: 'new_address', local: true do |f|
      .double
        = display_validation_errors("last_name","名前（性）")
        = display_validation_errors("first_name","名前（名）")
        = f.text_field :last_name, required: true, placeholder: "ダニエル", value: "ダニエル"
        = f.text_field :first_name, required: true, placeholder: "ジャック", value: "ジャック"

      .double
        = display_validation_errors("last_name_reading", "名前（性）カナ")
        = display_validation_errors("first_name_reading", "名前（名）カナ")
        = f.text_field :last_name_reading, required: true, placeholder: "ダニエル", value: "ダニエル"
        = f.text_field :first_name_reading, required: true, placeholder: "ジャック", value: "ジャック"

      .single
        = display_validation_errors("postal_code", "郵便番号")
        = f.text_field :postal_code, required: true, placeholder: "例）123-4567", value: "123-4567"

      .single
        = f.collection_select :prefecture_id, Prefecture.all, :id , :name, {include_blank: "---", selected: 1}, required: true

      .single
        = display_validation_errors("city", "市区町村")
        = f.text_field :city, required: true, placeholder: "例）横浜市緑区", value: "横浜市戸塚区"

      .single
        = display_validation_errors("house_number", "番地")
        = f.text_field :house_number, required: true, placeholder: "例）青山1-1-1", value: "青山1-1-1"

      .single
        = f.text_field :building, required: true, placeholder: "例）柳ビル103", value: "表参道ヒルズ"

      .single
        = display_validation_errors("phone_number", "電話番号")
        = f.text_field :phone_number, placeholder: "例）09012345678", value: "12345678900"

      .button
        = f.submit "REGISTAR", class:"button back-red font-white"
