.pconsole

  .delete
    .delete__close
      .delete__close--button
        %i.fas.fa-times
    .delete__content
      本当に削除しますか？
    .delete__button
      .cancel
        キャンセル
      .commit
        削除


  .pconsole__box
    
    %ul.title-box
      %li
      %li
      %li.title
        IMAGE
      %li.title
        NAME
      %li.title
        AMOUNT
      %li.title
        PRICE


    .pconsole__box__table
      - @products.each do |product|
        
        .list
          = link_to edit_product_path(product) do
            .button
              EDIT
          .button.delete-button{'data-index': product.id}
            DELETE

          %ul
            %li
              = image_tag product.image.variant(resize: '100x100')
            %li
              = product.name
            %li
              x
              99
            %li
              = product.price



  .pconsole__new
    = form_with model: @product, local: true do |f|

      %label
        .image
          SELECT IMAGE
        = f.file_field :image

      %label.input
        .input__title
          NAME
        = f.text_field :name
      
      %label.input
        .input__title
          DETAIL
        = f.text_area :detail

      %label.input
        .input__title
          PRICE
        = f.number_field :price

      = f.submit "MAKE PRODUCT", class: 'submit'
