.mypage
  .mypage__box
    .mypage__box--title
      My Page

    .mypage__box__info
      .mypage__box__info--title
        NICKNAME
      .mypage__box__info--content
        = current_user.nickname
    .mypage__box__info
      .mypage__box__info--title
        EMAIL
      .mypage__box__info--content
        = current_user.email

    .edit
      = link_to edit_user_registration_path do
        .button
          EDIT USER

    .mypage__box__info
      .mypage__box__info--title
        NAME
      .mypage__box__info--content
        = current_user.address.first_name
        = current_user.address.last_name

    .mypage__box__info
      .mypage__box__info--title
        NAME READING
      .mypage__box__info--content
        = current_user.address.first_name_reading
        = current_user.address.last_name_reading

    .mypage__box__info
      .mypage__box__info--title
        POST CODE
      .mypage__box__info--content
        = current_user.address.postal_code
        
    .mypage__box__info
      .mypage__box__info--title
        PREFECTURE
      .mypage__box__info--content
        = Prefecture.find(current_user.address.prefecture_id).name
        
    .mypage__box__info
      .mypage__box__info--title
        CITY
      .mypage__box__info--content
        = current_user.address.city
        
    .mypage__box__info
      .mypage__box__info--title
        HOUSE NUMBER
      .mypage__box__info--content
        = current_user.address.house_number
        
    .mypage__box__info
      .mypage__box__info--title
        BUILDING
      .mypage__box__info--content
        = current_user.address.building
        
    .mypage__box__info
      .mypage__box__info--title
        BUILDING
      .mypage__box__info--content
        = current_user.address.phone_number

    .edit
      = link_to users_edit_address_path do
        .button
          EDIT ADDRESS
  
    - if @card
      .mypage__box__info
        .mypage__box__info--title
          CARD
        .mypage__box__info--content
          .card
            = "**** **** **** #{@card.last4}"
          .card
            = "#{@card.exp_month} / #{@card.exp_year}"
        
      .edit
        = link_to card_destroy_path do
          .button#delete-card-button
            DELETE CARD

    - else
      .mypage__box__info
        .mypage__box__info--title
          NO CARD
        .mypage__box__info--content
          .card
            = "---- ---- ---- ----"
          .card
            = "-- / --"

      .edit
        = link_to new_card_path do
          .button
            REGISTAR CARD

  = render partial: 'layouts/modal', locals: { content: '本当にカードの登録を解除しますか？', commit: '解除'}