- @products.each do |product|
  = product.name
  = product.price
  円
  = image_tag product.image.variant(resize:'300x300')
  .show-quantity
    = product_quantities(@cart, product.id)
    個
  = link_to cart_path(@cart.id), method: :delete do
    カートから削除する

.purchase_confirm
  = link_to confirm_purchases_path do
    購入確認ページへ