- @carts.each do |product|
  = product.name
  = product.price
  円
  = image_tag product.image
  .show-quantity
    = product.cart.quantity
    個
  = link_to cart_path(product.cart.id), method: :delete do
    カートから削除する