- @carts.each do |cart_product|
  = cart_product.product.name
  = cart_product.product.price
  円
  = image_tag cart_product.product.image.variant(resize:'300x300')
  .show-quantity
    = cart_product.quantity
    個
  = link_to cart_path(cart_product.id), method: :delete do
    カートから削除する