= link_to new_product_path do
  %div 管理者用商品出品ページ
- @products.each do |product|
  = link_to product_path(product) do
    %div 商品の詳細について
  = image_tag product.image.variant(resize:'300x300')
  = product.name
  = product.detail

